.App {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  transition: background-color .5s linear;
}
.background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.colored-app{
  animation: change 1s linear;
  transform: translate3d(0, 0, 0);
  background-color: #e6ffff;
  color: #ffffff;
}

@keyframes change {
  from {
    background-color: rgb(233, 255, 243);
  }

  to {
    background-color: #e6ffff;
  }
}


.banner {
  width: 100%;
  min-height: 750px;
  margin: auto;
}


.banner .name {
  font-size: 3.4rem;
}

.banner .position {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.banner .name,
.banner .position {
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  color: black;
  text-align: center;
  font-weight: 100;
}

.banner-header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about {
  background-color: white;
  font-weight: 400;
  font-style: italic;
}

.about h2 {
  text-align: center;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.my-thecs {
  display: flex;
  width: fit-content;
  gap: 12px;
  flex-wrap: wrap;
  width: 100%;
  background-color: #e6ffff;
  justify-content: center;
  margin: auto;
  margin: 36px 0px;
  position: relative;
  padding: 6px 12px;
}

.my-thecs::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #e6ffff 40%, #6a3bd4);
  top: 0px;
  background-size: 200% auto;
  left: 0px;
}
@keyframes flowGradient {
0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.my-thecs::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #e6ffff 40%, #6a3bd4);
  top: -3px;
  left: 0px;
  background-size: 200% auto;
}

.my-thecs>i {
  transition: 100ms;
  font-size: 2.5rem;
  padding: 8px;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  mix-blend-mode: screen;
}

.left-about {
  padding: 36px 16px;
  width: clamp(0px, 100%, 1500px);
  margin-bottom: 72px;
}

.left-about p {
  width: clamp(0px, 100%, 1000px);
  margin: auto;
  font-size: 1.2rem;
  padding: 0px 36px;
  font-size: 1.1rem;
  line-height: 26px;
}

.left-about h2 {
  background-color: #e6ffff;
  color: #6a3bd4;
  font-weight: 100;
  font-size: 2rem;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.308);
  padding: 6px;
  position: relative;
  border-bottom: 2px solid #6a3bd4;
  overflow: hidden;
  border-radius: 2px;
}

.left-about h2::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 100%;
  background: linear-gradient(#e6ffff, #6a3bd4);
  bottom: 0px;
  left: 0px;
}

.left-about h2::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 100%;
  background: linear-gradient(#e6ffff, #6a3bd4);
  bottom: 0px;
  right: 0px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 36px;
  text-align: center;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.projects-list {
  width: clamp(0px, 100%, 1300px);
  margin: auto;
  text-align: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 126px;
  padding: 16px;
  scroll-snap-type: y proximity;
}

.project {
  scroll-snap-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 24px;
  gap: 32px;
  color: black;
  background-color: rgba(255, 255, 255, 0.623);
  backdrop-filter: blur(8px);
  flex-wrap: wrap-reverse;
  box-shadow: 0px 0px 16px #00000052;
  border-radius: 5px;
  position: relative;
}
.project::after{
  content: '';
  position: absolute;
  height: 3px;
  width: calc(50% - 180px);
  border-radius: 50px;
  background-color: #5373ffbd;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  left: 50%;
  transform: translateX(-50%);
  bottom: -63px;
}
.project.reversed{
  flex-direction: row;
}

.project-details{
  flex: 1;
  margin: 36px 0px;
  font-weight: 400;
}

.project-img{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: stretch;
  width: clamp(300px, 100%, 500px);
  gap: 6px;
}
.project-img img{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
}
.project-img.length2 img{
  grid-column: span 2;
}
.project-img img:first-child{
  grid-column: span 2;
}

.project-techs{
  display: flex;
  gap: 4px;
  font-size: 2.2rem;
  background-color: rgba(255, 255, 255, 0.13);
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 7px #00000025;
}
.project-techs i{
  padding: 4px;
}
.project-description{
  font-size: 1.07rem;
}
.project h2{
  font-size: 3rem;
  margin: 0px auto;
  font-weight: 100;
}

.project-links{
  display: flex;
  color: black;
  gap: 8px;
}

.project-links a{
  color: white;
  text-decoration: none;
  padding: .4rem 2rem;
  border: 1.5px solid #6a3bd4;
  font-weight: 400;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  position: relative;
  transition: color 300ms, background-color 200ms;
  font-weight: 400;
  background-color: #6a3bd4;

}
.project-links a > *{
  z-index: 2;
}

.project-links a::after {
  position: absolute;
  content: '';
  width: calc(100% + 38px);
  height: 100%;
  top: 0px;
  left: -18px;
  background-color: #3db2ff;
  z-index: -1;
  transform: skewX(45deg) scaleX(0) ;
  transition: 200ms ease-in;
  transform-origin: left;
}
.project-links a:first-child:after {
  display: none;
}
.project-links a:first-child:hover {
  background-color: transparent;
  color: #6a3bd4;
}
.project-links a:last-child:hover {
  box-shadow: 0px 0px 8px rgba(21, 150, 255, 0.788);
}
.project-links a:hover::after{
  transform: skewX(45deg) scaleX(1) ;
  
}


.project-links a:last-child {
  border: 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.253);
  background-color: transparent;
  color: black;
}

.project-links a:hover {
  color: #e6ffff;
  font-weight: 400;
}

.title{
  width: fit-content;
  margin: auto;
  background-color: #6a3bd4;
  padding: .4rem 5rem;
  font-size: 2.4rem;
  box-shadow: 0px 0px 6px 3px #e6ffff;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}

.title::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #e6ffff 40%, #6a3bd4);
  top: 0px;
  background-size: 200% auto;
  left: 0px;
}
.title::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #e6ffff 40%, #6a3bd4);
  top: -3px;
  left: 0px;
  background-size: 200% auto;
  z-index: 1;
}
.title span{
  position: relative;
  z-index: 2;
}